.friends-mainscreen {
  padding: 0px var(--some-space);
}

.user-component {
  display: flex;
  align-items: center;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__column__title {
  font-weight: 700;
  font-size: 22px;
}

.user-component__column__subtitle {
  margin-top: 7px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.friends-mainscreen__channel {
}
